.center {
    text-align: center;
    align-items: center;
}

.extraHeight {
    margin-top: 50px;
    margin-bottom: 100px;
}

.bgcolor {
	background-color: #8A7292;
}

.secondbgcolor {
	background-color: #FFF6EB;
}

.thirdbgcolor {
	background-image: url("betfair-pattern.png");
}

.menuBar{
	background-color: #8A7292;
	width: 100%;
	margin-top: 45px;
}

.col-sm-4{
	margin-bottom: 10px;
	font-size: smaller;
	position: relative;
}

.coll-55{
	margin: 50px;
	position: relative;

}

.paddingCanvas{
	padding-left:20px;
	padding-top: 40px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.nav-item {
    padding-left: 0px;
}

.headingFont{
	font-family: AppleGothic;
	font-weight: bold;
	color: white;
}

.header3 {
	font-size: 20px;
}

.nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar {
    background-color: #FFF;
}

.navbar.sticky-top {
    padding: 0px !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #000 !important;
}

.nav-tabs li a:hover {
    background-color: #FFF6EB;
}

.nav-link{
	color: black;
	background-color: white;
}

.nav-item .nav-link.active{
	background-color: #FFF6EB;
}

.nav-item {
    padding-left: 0px;
}

.nav-link li.active {
	color: #FFF6EB;
	background-color: #FFF6EB;
}

h1 {
    font-size: 36px;
}

p {
    text-align: center;
}

.right {
	position: absolute;
	right: 100px;
	width: 300px;
	padding: 10px;
}

.bottom-right {
	position: absolute;
	width: 300px;
	padding-top: 50px;
}

.point zero {
	text-align: center;

}
li {
    padding-left: 10px;
    line-height: 2.5;

}


ul.rating, ul.rating0, ul.rating1, ul.rating2, ul.rating3, ul.rating4, ul.rating5, ul.rating6, ul.rating7, ul.rating8, ul.rating9 {
	margin:0 auto;
	padding:0;
	background:rgba(245, 245, 245, 1);
	height:30px;
	width:152px;

	border-radius:5px;

}

li.point, li.point0, li.point1, li.point2, li.point3, li.point4,  li.point5, li.point6, li.point7, li.point8, li.point9 {
	float:left;
    display:inline-block;
	/*padding: 10px;*/
	padding:0;
    padding-right: 0px;
	height:20px;
	width:20px;
	margin:4px 0 0px 4px;
	cursor:pointer;
	font-size:11px;
	text-align:center;
	line-height:20px;
	color:#FFF; /* Color fallback */
	color:rgba(152, 152, 152, 1);


	border-radius:100px;

	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, rgba(199, 199, 199, 1) 50%, rgba(33, 172, 224, 1) 50%);

	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .7s ease .1s;
}

li.point.enabled, li.point0.enabled, li.point1.enabled, li.point2.enabled, li.point3.enabled, li.point4.enabled, li.point5.enabled, li.point6.enabled, li.point7.enabled, li.point8.enabled, li.point9.enabled {
	color:#FFF; /* Color fallback */
	color:rgba(255, 255, 255, 1);
	background-position: 100% -100%;

}

.padding-number{
	text-align: center;
}